html{
    margin:0px;
    min-height: 100%;
}
body {
    margin:0px;
    padding:20px;
    font-family: 'Poppins', sans-serif;
}

#Parent {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap:15%;
    margin-top:-10px;
}

#Dustin,#Lucus{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap:20px;
    column-gap: 20px;
    padding-top:10px; 
}

.player{
    border:black solid;
    border-radius:10px;
    align-items: end;

}

.player-image{
    padding-top:10px;
    width:150px;
    height:150px;
}
.name{
    width:150px;

}
.strength{
    width:150px;
    font-size:30px;
} 

